<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Brand</title>
    <meta http-equiv="refresh" content="5" >
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/aos.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Animation-Cards-_app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Animation-Cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/untitled.css') }}">
    <script>
        setTimeout(function() {
            location.reload(1);
        }, 5000);
    </script>   
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-parking" style="color: var(--bs-black);"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>QSlots</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="{{ url_for('static', filename='dashboard.html') }}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('static', filename='login.html') }}" style="color: rgb(48,87,201);"><i class="far fa-user-circle"></i><span style="color: var(--bs-accordion-bg);">Login</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('static', filename='register.html') }}"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container">
                    <div class="row space-rows">
                        <div class="col">
                            <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950">
                                <div class="card-header" style="background: rgb(36,119,7);"><span class="space"><a href="#"></a></span>
                                    <div class="cardheader-text">
                                        <h4 id="heading-card-1" style="text-align: center;font-size: 33px;">Slots Available&nbsp;</h4>
                                        <p id="cardheader-subtext-1" style="font-size: 67px;text-align: center;">
                                            {% for item in data %}
                                              {{ item }}
                                            {% endfor %}

                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card cards-shadown cards-hover" data-aos="slide-right" data-aos-duration="950">
                                <div class="card-header" style="background: rgb(224,48,37);"><span class="space"><a href="#"></a></span>
                                    <div class="cardheader-text">
                                        <h4 id="heading-card-2" style="font-size: 33px;text-align: center;">Slots Used</h4>
                                        <p id="cardheader-subtext-2" style="font-size: 67px;text-align: center;">
                                            {% for item1 in new_data %}
                                              {{ item1 }}
                                            {% endfor %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card cards-shadown cards-hover" data-aos="flip-up" data-aos-duration="950">
                                <div class="card-header cards-header-hover" style="background: var(--bs-blue);"><span class="space"><a href="#"></a></span>
                                    <div class="cardheader-text">
                                        <h4 id="heading-card-3" style="font-size: 33px;text-align: center;">Total slots</h4>
                                        <p id="cardheader-subtext-3" style="font-size: 67px;text-align: center;">6</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/aos.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>
</body>

</html>